<script>
export default{
  data(){
    return{
      components:{
        'Host Info':'/host',
        'CPU': '/cpu',
        'Memory': '/mem',
        'Healthy': '/healthy'
      }
    }
  }
}
</script>
<script setup>
  import Sidebar from "./components/Sidebar.vue";
</script>

<template>
  <header>
    <div class="wrapper">

    </div>
  </header>

  <main class="flex w-screen h-screen bg-slate-300">
    <Sidebar :components="components"/>
  </main>
</template>


