<!DOCTYPE html>
<html>
    <head>
        <title>
            Fruit Shop
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/output.css" rel="stylesheet">
    </head>
    <body class="h-screen bg-slate-300 flex items-center justify-center text-2xl">
        <table class="border border-black" >
            <tr class="border border-black">
                <th class="p-4 border border-black">Photo</th>
                <th class="p-4 border border-black">Fruit</th>
                <th class="p-4 border border-black">In stock</th>
                <th class="p-4 border border-black">Amount</th>
                <th class="p-4 border border-black">Order</th>
                <th class="p-4 border border-black">Restock</th>
                
            </tr>
            <% fruits.forEach( (fruit) => { %>
                <tr class="">
                    <td class="p-4 border border-black text-center w-40 h-40" ><img src=<%= fruit.photo %> alt=<=% fruit.fruit photo %>></td>
                    <td class="p-4 border border-black text-center"><%= fruit.fruit %></td>
                    <td class="p-4 border border-black text-center"><%= fruit.count %></td>
                    <form method="POST">
                        <td class="p-4 border border-black text-center">
                            <input type="number" class="w-20 h-10" name="order_amount" value="0">
                        </td>
                        <td class="p-4 border border-black text-center">
                            <button id="order" type="submit" name="fruit" formaction="/order" value=<%=fruit.fruit %> class="bg-slate-400 p-2 hover:bg-slate-500">Order</button>
                        </td>

                        <td class="p-4 border border-black text-center">
                            <button id="restock" type="submit" name="fruit" formaction="/restock" value=<%=fruit.fruit %> class="bg-slate-400 p-2 hover:bg-slate-500">Restock</button>
                        </td>
                    </form>
                </tr>
            <%}) %>
        </table>
    </body>
</html>
