<script>
import axios from "axios"
export default({
    data (){
        return {
            load : 0,
            timer: 0,
            running: {},
            form:{
                load: "",
                error: null
            }
        };
    },
    created(){
        // it takes 1 second to collect the cpu usage statistics
        // if we call this every 2 seconds we wont overwhelm the app
        this.timer = setInterval(() => {this.getLoad(); this.getRunning()}, 1500)

    },
    beforeUnmount() {
        clearInterval(this.timer)
    },
    methods:{
        async getLoad(){
            this.load = await axios.get("/api/cpu").then(r => r.data.cpu_usage)
        },
        async getRunning(){
            this.running = await axios.get("/api/cpu/running").then(r => r.data)
            
        },
        async submitForm(){
            let formData = new FormData();
            formData.append("load", this.form.load)
            await axios.post( "/api/cpu/create", formData)
            .then(()=>this.form.error = null)
            .catch((e) => {
                this.form.error = e.response.data.msg
            })
            
        },
        async killProcess(pid, all){
            let formData = new FormData();
            if (all){
                formData.append("all", "true")
            }
            else{
                formData.append("pid", pid.toString())
            }
            await axios.post("/api/cpu/kill", formData)
        }
    }
})
</script>


<template>
    <div class="pl-20 pt-20">
        <div class="flex flex-col items-center">
            <div class="flex flex-col">
                <p class="text-3xl">Current CPU load</p>
                <p 
                class="self-center text-5xl p-1"
                v-bind:class="{
                    'text-green-700': load < 50,
                    'text-orange-500':50 <= load && load < 80,
                    'text-red-900': load >= 80}">
                {{load}} %</p>
            </div>
            <div class="py-16">
                <form class="flex flex-col">
                    <label class="text-lg" for="additional-load">Additional % of CPU to put under load (0-100): </label>
                    <div class="flex justify-center py-2 space-x-4">
                        <input  class="w-16 m-2" v-model="form.load" type="number" id="aditional-load"  min="0" max="100">
                        <button type="button" v-on:click="submitForm" class="px-4 bg-slate-700 rounded-full text-white hover:bg-slate-500 hover:text-black">Send</button>
                    </div>
                    <p v-if="form.error != null" class="self-center text-red-600">{{form.error}}</p>   
                </form>
            </div>
            <div class="flex flex-col py-10">
                <p class="text-3xl font-bold pb-2">Currently running CPU stressing processes</p>
                <button  type="button" v-on:click="killProcess(0, true)"  class="my-4 p-2 bg-slate-700 w-16 self-center text-white rounded-full hover:bg-slate-500 hover:text-black">Kill all</button>
                <table class="pt-2 border border-black border-collapse">
                    <tr>
                        <th class="border border-black p-2">PID</th>
                        <th class="border border-black p-2">Load</th>
                        <th class="border border-black p-2">Action</th>
                    </tr>
                    <tr v-for="load_size, pid in running">
                        <td class="border border-black p-2 text-center">{{pid}}</td>
                        <td class="border border-black p-2 text-center">{{load_size}} %</td>
                        <td class="border border-black text-center">
                            <button type="button" v-on:click="killProcess(pid, false)" class="py-2 my-1 bg-slate-700 w-16 self-center text-white rounded-full hover:bg-slate-500 hover:text-black">Kill</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
