<script>
    import axios from "axios"
    export default({
        data (){
            return {
                checks: [],
                timer: 0,
                total: 0,
                failed: 0,
                succeeded: 0,
                form:{
                    fail: false,
                    error: null
                }
            };
        },
        created(){
            this.timer = setInterval(() => this.checkStatus(new Date().toTimeString().split(" ")[0]), 2000)

        },
        beforeUnmount() {
            clearInterval(this.timer)
        },
        methods:{
            appendCheck(status, time){
                if (this.checks.length < 10){
                    this.checks.push({"status":status, "time":time})
                }
                else{
                    // store only last 10 results
                    if (this.checks.length == 10){
                        this.checks.push({"status":status, "time":time})
                        this.checks.shift()
            }}
            },

            async checkStatus(time){
                this.total += 1
                try{
                    const resp = await axios.get("/api/healthy")
                    this.appendCheck(resp.status, time)
                    this.succeeded += 1
                }
                catch (err){
                    this.appendCheck(err.response.status, time)
                    this.failed += 1
                }
            
            },
            async submitForm(){
                let formData = new FormData();
                formData.append("fail", this.form.fail)
                await axios.post("/api/healthy", formData)
                .then(()=>this.form.error = null)
                .catch((e) => {
                    this.form.error = e.response.data.msg
                })
                
            }
        }
    })
</script>


<template>
    <div class="pl-20 pt-20">
        <div class="flex flex-col my-10 border border-black">
            <fieldset class="p-2">
                <legend class="px-2">Fail</legend>
                <div class="py-1">
                    <input type="radio" name="fail" id="yes" value=true v-model="form.fail" v-on:change="submitForm"/>
                    <label class="px-2" for="yes">Yes</label>
                </div>
                <div class="py-1">
                    <input type="radio" name="fail" id="no" value=false checked v-model="form.fail" v-on:change="submitForm"/>
                    <label class="px-2" for="no">No</label>
                </div>
            </fieldset>
            <p v-if="form.error != null" class="text-red-600 py-2">{{form.error}}</p> 
            <div class="flex p-2">
                <p class="px-1">Total: </p>
                <p class="px-1">{{ total }}</p>
                <p class="px-1">Succeeded: </p>
                <p class="px-1">{{ succeeded }}</p>
                <p class="px-1">Failed: </p>
                <p class="px-1">{{ failed }}</p>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <table class="border border-black border-collapse">
                <tr >
                    <th class="border border-black p-2">Timestamp</th>
                    <th class="border border-black p-2">Status code</th>
                    <th class="border border-black p-2">Result</th>
                </tr>
                <tr v-for="check in checks.slice().reverse()" class="text-center">
                    <td class="border border-black p-2">{{check.time}}</td>
                    <td class="border border-black p-2">{{check.status}}</td>
                    <td class="border border-black p-2" v-bind:class="(check.status >= 200 && check.status <300)?'text-green-700':'text-red-700'" >{{check.status >= 200 && check.status < 300 ? "healthy" : "unhealthy"}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>
