<template>
    <div class="pl-20 pt-20">
        <table class="border border-collapse">
            <tr v-for="val,key in info">
                <td class="border border-black">{{key}}</td>
                <td class="p-2 border border-black">{{val}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import axios from "axios"
    
    export default ({
        data (){
            return {
                info : null
            };
        },
        created(){
            this.getInfo();
        },
        methods:{
            async getInfo(){
                await axios.get("/api/host").then((r)=> this.info = r.data)
            }
        }
    })
        
    

</script>