<script>
    import axios from "axios"
    export default({
        data (){
            return {
                total_mem: 0,
                used_mem: 0,
                free_mem: 0,
                avaliable_mem: 0,
                timer: 0,
                display_format: "mb",
                running: {},
                form:{
                    size: "",
                    format:"mb",
                    error: null
                }
            };
        },
        created(){
            // it takes 1 second to collect the cpu usage statistics
            // if we call this every 2 seconds we wont overwhelm the app
            this.timer = setInterval(() => {this.getStats(); this.getRunning()}, 1000)

        },
        beforeUnmount() {
            clearInterval(this.timer)
        },
        methods:{
            async getStats(){
                const resp = await axios.get("/api/memory?format=" + this.display_format)
                this.total_mem = resp.data.total_mem
                this.used_mem = resp.data.used_mem
                this.free_mem = resp.data.free_mem
                this.avaliable_mem = resp.data.avaliable_mem
            },
            async getRunning(){
                this.running = await axios.get("/api/memory/running").then(r => r.data)
                
            },
            async submitForm(){
                let formData = new FormData();
                formData.append("size", this.form.size)
                formData.append("format", this.form.format)
                await axios.post("/api/memory/create", formData)
                .then(()=>this.form.error = null)
                .catch((e) => {
                    this.form.error = e.response.data.msg
                })
                
            },
            async killProcess(pid, all){
                let formData = new FormData();
                if (all){
                    formData.append("all", "true")
                }
                else{
                    formData.append("pid", pid.toString())
                }
                await axios.post("/api/memory/kill", formData)
            }
        }
    })
</script>


<template>
    <div class="pl-20 pt-20">
        <div class="flex flex-col items-center">
            <table class="border border-black border-collapse">
                <tr >
                    <th class="border border-black p-2">Total Memory</th>
                    <th class="border border-black p-2">Used Memory</th>
                    <th class="border border-black p-2">Free Memory</th>
                    <th class="border border-black p-2">Avaliable Memory</th>
                </tr>
                <tr class="text-center">
                    <td class="border border-black p-2">{{total_mem}}</td>
                    <td class="border border-black p-2">{{used_mem}}</td>
                    <td class="border border-black p-2">{{free_mem}}</td>
                    <td class="border border-black p-2">{{avaliable_mem}}</td>
                </tr>
            </table>
            <div>
                <label for="display_format" class="px-2">Show statistics in: </label>
                <select v-model="display_format" name="display_format" class="p-2 my-2">
                    <option value="kb">kb</option>
                    <option selected value="mb">mb</option>
                </select>
            </div>
            </div>
            <div class="py-16">
                <form class="flex flex-col">
                    <label class="text-lg py-2" for="form_size">Spawn process of size</label>
                    <div class="flex py-2 items-center">
                        <input class="w-16  h-10 p-2 text-right" v-model="form.size" id="form_size">
                        <select v-model="form.format" class="p-1 mr-4">
                            <option value="kb">kb</option>
                            <option selected value="mb">mb</option>
                        </select>
                        
                        <button type="button" v-on:click="submitForm" class="p-3 bg-slate-700 rounded-full text-white hover:bg-slate-500 hover:text-black">Send</button>
                    </div>
                    <p v-if="form.error != null" class="text-red-600 py-2">{{form.error}}</p>   
                </form>
            </div>
            <div class="flex flex-col py-10">
                <p class="text-3xl font-bold pb-2">Currently running Memory stressing processes</p>
                <button  type="button" v-on:click="killProcess(0, true)"  class="my-4 p-2 bg-slate-700 w-16 self-center text-white rounded-full hover:bg-slate-500 hover:text-black">Kill all</button>
                <table class="pt-2 border border-black border-collapse">
                    <tr>
                        <th class="border border-black p-2">PID</th>
                        <th class="border border-black p-2">Load</th>
                        <th class="border border-black p-2">Action</th>
                    </tr>
                    <tr v-for="load_size, pid in running">
                        <td class="border border-black p-2 text-center">{{pid}}</td>
                        <td class="border border-black p-2 text-center">{{load_size}}</td>
                        <td class="border border-black text-center">
                            <button type="button" v-on:click="killProcess(pid, false)" class="py-2 my-1 bg-slate-700 w-16 self-center text-white rounded-full hover:bg-slate-500 hover:text-black">Kill</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</template>
