<script>
   export default({
      props:{
         components: Object
      }
   })
</script>

<template>
    
   <div class="flex h-full w-1/12 overflow-y-auto py-4 px-3 bg-slate-800">
      <ul class="space-y-2 grow">
         <li v-for="path, name in $props.components">
            <router-link :to=path class="flex items-center p-2 text-white rounded-lg text-white hover:bg-slate-700">
               <span class="text-xl">{{name}}</span>
            </router-link>
         </li>

      </ul>
   </div>
   <router-view/>
</template>


